body, html{
	height: 100%;
	margin: 0;
	background-color:#A9E2F3;
}
#contenedor{
	width: 950px;
	margin: 0 auto;
	height: 800px;
	position: relative;
	border: 1px solid black;


}

#header {
	background-color: #A9E2F3;
	height: 150px;
	position: relative;
	top: 0;
	width: 950px;
}

#nav {
	background-color: green;
	height: 35px;
	position: relative;
	top: 0;

	width: 950px;
}



#contenido{
	background-color: #A9E2F3;
	width: 950px;
	height: auto;
	margin-top: 0px;

	text-align: justify;

}

#contenido > div {
    /*width: 150px;
    height: 125px;*/
    vertical-align: top;
    display: inline-block;


}

#contenido:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;

}


.menu{
	background-color: #E0F8EC;
	width: 180px;
	height: 400px;
	/*position: absolute;*/

	top: 0px;
	border: 1px solid grey;
	padding: 10px;

}

.textoBienvenida{
	width: 230px;
	height: 270px;
	/*position: absolute;*/

	border: 1px solid grey;
	padding: 10px;
	background-color: #CEF6CE;

}

.titleForm{
	margin-top:-3px;
	text-align: center;
}
.formRegistro{
	font-size: 14px;
	font-family: arial;
	width: 466px;
	height: auto;
	/*position: absolute;*/
	border: 1px solid grey;
	padding: 10px;
	background-color: #D9E1D4;
}

.formProfile{
	font-size: 13px;
	font-family: arial;
	width: 466px;
	height: auto;
	/*position: absolute;*/
	border: 1px solid grey;
	padding: 10px;
	background-color: #D9E1D4;
}

.adminImg{
	font-size: 13px;
	font-family: arial;
	width: 718px;
	height: auto;
	/*position: absolute;*/
	border: 1px solid grey;
	padding: 10px;
	background-color: #D9E1D4;
	margin-right: 4px;
}

.estilo{
	border: 1px dashed #ddd;
	color: white;
	/*float:left;*/
	margin:8px;
	padding:5px;
	width:100px;
}
.position{
	padding-bottom:0px;

}
.deleteImage{
	padding-left:30px;
}
.imgProfile{
	padding-bottom:85px;

}
.imgPos{
	height: 101px;
	width: 100px;
}

.seek{
	padding-bottom: 72px;
}

.seekCheck{
	padding-top: 9px;
}
.userName{
	background-color: #CEF6CE;
	width: 190px;
	height: 134px;
	top: 0px;

	border: 1px solid grey;
	padding: 10px;
	line-height: 1.5em;

}


.cajaDerecha{
	background-color: #E0F8EC;
	width: 250px;
	height: 400px;
	/*position: absolute;*/
	left: 660px;
	top: 120px;
	border: 1px solid grey;

}


.caja-logo{
	background-color: grey;
	width: 150px;
	height: 100px;
	position: absolute;
	left: 25px;
	top: 30px;
	z-index: 2;
	border: 1px solid grey;
}

.izq{

	float: left;
	 width:50%;
}



#footer{
	background-color: #999;
	height: 25px;
	position: relative;

}

label{
	display: inline-block; width: 75px;
}

